// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.weex-run.qrcode-panel.loading {
  width: 400px;
  height: 650px;
  background-color: @base-background-color;
  margin: auto;
  text-align: center;

}

atom-panel.modal.overlay.from-top.weex-run.qrcode-panel {
  justify-content: center;
  background-color: transparent;
  border: none;
}

.qrImageWithGuide{
  background-color:@base-background-color;
}

#weexrun-qrDiv{
  margin-left: 60px;
  width: 170px;
  height: 170px;
  background-color: white;
  padding: 10px;
}

.weexRunTitle {
  font-size: 200%;
  font-family: 'PT Sans Narrow', sans-serif;
  //margin-top: 30px;
  margin-bottom: 25px;
  padding-top: 25px;
}

.weexDescribe {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  font-size: 130%;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;

}

.weexRunImg {
  margin: 25px;
  width: 250px;
  height: 249px;
}

#thera_device_panel_table {
  text-align: left;
  font-size: 14px;
  display: block;
}


#thera_device_panel_table thead {
  display:table-header-group;
  table-layout:fixed;
  width:100%;
}

#thera_device_panel_table tbody {
  display: block;
  height: 400px;
  overflow: scroll;
  width:100%;
}

#thera_device_table_tbody , #thera_device_table_tbody:before, #thera_device_table_tbody:after{
  box-sizing: content-box;
}


#thera_device_panel_table tbody td {
  padding: 5px;
}


#thera_device_panel_ex_table {
  text-align: center;
  margin: 10px;
  width: 900px;
}

#thera_device_panel_qr_view {
  margin: 20px;
}

#thera_device_panel_table tbody tr:nth-child(odd) {
  background-color: @base-background-color;
}

#thera_device_panel_table tbody tr:nth-child(even) {
  background-color: @background-color-selected;
}

.weex_run_stop_icon {
  padding: 5px;
  width: 30px;
  height: 30px;
  color: red;
}

.weex_run_start_icon {
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #00A000;
}

.weex_run_button_cursor{
  cursor: pointer;
}

.weex_run_running_icon {
  color:  #FFFF00;
}

#thera_device_panel_table_prompt {
  text-align:left;
  padding: 5px;
  font-size:12px;
  color:@text-color
}

#thera_device_panel_table_title {
  padding: 10px;
  font-size:16px;
  width:500px;
  color:@text-color-highlight;
  text-align: left;
}

.thera-device-modal-panel{
  margin: 0px !important;
  margin-top: 20px !important;
  padding: 10px !important;
  left:300px !important;
  background: @base-background-color !important;
  box-shadow: 1px 1px 1px 1px black;
  width: 900px !important;
}

.thera-device-modal-panel.from-top{
 top: 0px !important;
}

.deviceActionIconToolTip{
  background: #4E8EAA !important;
  color: #fff !important;
  font-size: 10px !important;
  border: hidden !important;
}





