// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.weex-run.qrcode-panel.loading {
    width: 400px;
    height: 650px;
    background-color: rgba(0,0,0,0.8);
		margin: auto;
		text-align: center;


}

atom-panel.modal.overlay.from-top.weex-run.qrcode-panel {

    justify-content: center;
    background-color: transparent;
    border: none;
}

img.weex-run.qrcode {
  width: 150px;
  height: 150px;
}

.weexRunTitle {
  font-size: 200%;
  font-family: 'PT Sans Narrow', sans-serif;
  //margin-top: 30px;
  margin-bottom: 25px;
  padding-top: 25px;

}

.weexDescribe{
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  font-size: 130%;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;

}

.weexRunImg{
  margin: 25px;
  width: 250;
  height: 249px;
}
