// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.weex-run.qrcode-panel.loading {
    width: 400px;
    height: 650px;
    background-color: rgba(0,0,0,0.8);
		margin: auto;
		text-align: center;


}

atom-panel.modal.overlay.from-top.weex-run.qrcode-panel {

    justify-content: center;
    background-color: transparent;
    border: none;
}

img.weex-run.qrcode {
  width: 150px;
  height: 150px;
}

.weexRunTitle {
  font-size: 200%;
  font-family: 'PT Sans Narrow', sans-serif;
  //margin-top: 30px;
  margin-bottom: 25px;
  padding-top: 25px;

}

.weexDescribe{
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  font-size: 130%;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;

}

.weexRunImg{
  margin: 25px;
  width: 250px;
  height: 249px;
}

#thera_device_panel_container{
  background: white;
  position: absolute;
  margin-right: auto;
  margin-left:-150px;
  margin-top: 150px;
  text-align: center;
  display: flex;
  background-color: #000000;
}

#thera_device_panel_table {
  text-align: center;
  margin: 20px;
  font-size:20px;
  color:#8abeb7;
  display:block;
}

#thera_device_panel_table tbody{
  display:block;
  height: 330px;
  overflow: scroll;
}


#thera_device_panel_table tr{
  padding: 10px;
}

#thera_device_panel_ex_table {
  text-align: center;
  margin: 20px;
}

#thera_device_panel_qr_view{
  margin: 20px;
}

#thera_device_panel_table tr:nth-child(even){
  background-color:#0e1112;
}

